		<div class="container admin-page">
			<h1>Admin Dashboard</h1>
			<div class="grid">
				<div data-target="modal-new" data-toggle="modal" class="product new-product">
					<img data-target="modal-new" data-toggle="modal" src="/static/assets/new-board.png" alt="product">
					<p data-target="modal-new" data-toggle="modal" class="name">New Product</p>
					<p data-target="modal-new" data-toggle="modal" class="price">+</p>
				</div><!-- /product -->

				<div id="modal-new" class="modal">
					<div class="modal-window product-modal">
						<span class="close" data-dismiss="modal">&times;</span>
						<h1>New Product</h1>
						<br>
						<form id="new-product-form" action="/admin/" method="POST" enctype="multipart/form-data">
							<p>Product Name:</p>
							<input id="name" name="name" placeholder="Product Name" type="text" required>
							<p>Product Price:</p>
							<input id="price" name="price" placeholder="Product Price" type="text" required>
							<p>Product Image:</p>
							<input id="productImage" name="productImage" type="file" accept="image/jpeg, image/png" required>
							<p>Product Description:</p>
							<textarea name="description" form="new-product-form" id="description" placeholder="description (optional)" cols="30" rows="10"></textarea>
							<input class="submit-btn" id="submit" type="submit" value="Create New Product">
						</form>
					</div>
				</div><!-- /modal-new -->
				<% for(var i = count - 1; i > -1; i--) { %>
				<div data-target="modal-<%= i %>" data-toggle="modal" class="product fade-in">
					<img data-target="modal-<%= i %>" data-toggle="modal" src="./<%= products[i].product.productImage %>" alt="product">
					<p data-target="modal-<%= i %>" data-toggle="modal" class="name"><%= products[i].product.name %></p>
					<p data-target="modal-<%= i %>" data-toggle="modal" class="price"><%= products[i].product.price %></p>
				</div><!-- /product -->

				<div id="modal-<%= i %>" class="modal">
					<div class="modal-window product-modal">
						<span class="close" data-dismiss="modal">&times;</span>
						<img data-target="modal_0" data-toggle="modal" src="./<%= products[i].product.productImage %>" alt="product">
						<h1>Edit</h1>
						<br>
						<form action="/admin/update" method="POST">
							<p>Product Name:</p>
							<input id="name" name="name" placeholder="Product Name" type="text" value="<%= products[i].product.name %>">
							<p>Product Price:</p>
							<input id="price" name="price" placeholder="Product Price" type="text" value="<%= products[i].product.price %>">
							<p>Product Image:</p>
							<p class="change-photo-btn" data-target="modal-change-photo-<%= i %>" data-toggle="modal" data-dismiss="modal">Change Photo</p>
							<br>
							<p>Product Description:</p>
							<textarea name="description" id="description" type="text" placeholder="description" cols="30" rows="10"><%= products[i].product.description %></textarea>
							<button class="delete-btn" data-target="modal-delete-<%= i %>" data-toggle="modal" data-dismiss="modal">Delete</button>
							<input type="hidden" name="_id" value="<%= products[i].product._id %>">
							<input class="submit-btn" id="submit" type="submit" value="Edit Product">
						</form>
					</div>
				</div><!-- / "modal-<%= i %>" -->

				<div id="modal-change-photo-<%= i %>" class="modal">
					<div class="modal-window small product-modal">
						<span class="close" data-dismiss="modal">&times;</span>
						<img data-target="modal-change-photo" data-toggle="modal" src="./<%= products[i].product.productImage %>" alt="product">
						<h1>Change Photo</h1>
						<br>
						<form action="/admin/updatePhoto" method="POST" enctype="multipart/form-data">
							<input id="productImage" name="productImage" type="file" accept="image/jpeg, image/png" required>
							<br>
							<p class="cancel-btn" data-dismiss="modal">Cancel</p>
							<input type="hidden" name="_id" value="<%= products[i].product._id %>">
							<input class="submit-btn" id="submit" type="submit" value="Change Photo">
						</form>
					</div>
				</div><!-- /modal-delete-<%= i %> -->

				<div id="modal-delete-<%= i %>" class="modal">
					<div class="modal-window small product-modal">
						<span class="close" data-dismiss="modal">&times;</span>
						<img data-target="modal-delete" data-toggle="modal" src="./<%= products[i].product.productImage %>" alt="product">
						<p><%= products[i].product.name %></p>
						<br>
						<p><%= products[i].product.price %></p>
						<br>
						<p><%= products[i].product.description %></p>
						<h1>Delete this item?</h1>
						<br>
						<form action="/admin/delete" method="POST">
							<p class="cancel-btn" data-dismiss="modal">Cancel</p>
							<input type="hidden" name="_id" value="<%= products[i].product._id %>">
							<input class="delete-btn float-right" id="submit" type="submit" value="Delete">
						</form>
					</div>
				</div><!-- /modal-delete-<%= i %> -->
				<% } %>
			</div><!-- /grid -->
		</div><!-- /container -->










